html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    background-color: snow;
}

.App {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  max-width: 76%;
  font-family: 'Nunito', sans-serif;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.components-container {
  max-width: 30%;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid plum;
  background-color: lavenderblush;
  border-radius: 5px;
  margin: 1% auto;
  padding: 1% 3% 2%;
}

.form-todo {
  display: flex;
  width: 100%;
  display: flex;
}

.label-task {
  width: 100%;
}

.input-task {
  border-radius: 5px;
  width: 100%;
  border: none;
  padding: 3% 5%;
}
.input-task:focus {
  outline: none;
  border-radius: 5px;
  border: none;
}

.button-submit  {
  width: auto;
  border: none;
  color: white;
  background-color: darkorchid;
  padding: 2% 3%;
  border-radius: 0 3px 3px 0;
  box-shadow: -2px 1px 3px #534057;
  transition: .2s;
}
.button-submit:hover  {
  background-color: rgb(187, 84, 238);
  box-shadow: -2px 1px 3px #896391;
  transition: .125s;
  cursor: pointer;
}
.button-submit:focus  {
  outline: none;
  background-color: rgb(187, 84, 238);
  box-shadow: -1px 1px 2px  #534057;
  cursor: pointer;
}

.todo-list {
  width: 100%;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  margin: 3% 0 0;
}
.task-container {
  border-radius: 3px;
  text-align: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5% 3%;
  transition: .275s;
}
.task-container:hover {
  background-color: snow;
  transition: .025s;
}

.task {
  width: 80%;
}

.task-completed {
  width: 80%;
  text-decoration: line-through;
}

.delete-icon {
  transition: .25s;
}
.delete-icon:hover {
  color: tomato;
  font-weight: bolder;
  cursor: pointer;
  transition: .25s;
}

.button-clear-completed {
  border: none;
  width: auto;
  border: none;
  color: white;
  background-color: rgb(172, 6, 39);
  padding: 2% 3%;
  margin: 5% 0 0;
  border-radius: 3px;
  box-shadow: -2px 1px 3px #534057;
  transition: .2s;
}
.button-clear-completed:hover {
  cursor: pointer;
  background-color: rgb(231, 21, 63);
  transition: .125s;
}
.button-clear-completed:focus {
  outline: none;
  background-color: rgb(231, 21, 63);
  box-shadow: -1px 1px 2px  #574040;
  cursor: pointer;
}
